<div style="display: inline-flex;">

<a href="/thread/{{postNumber}}">
  <img src="/postimgs/{{image}}" class="col post-zoom p-0 shadow rounded" id="{{postNumber}}" style="min-width: 250px; max-height: 250px; object-fit: cover; object-position: top;">
</a>

<div class="ml-2">
  <b>Anonymous</b> <b>R: {{noOfPosts}} / I: {{noOfImages}} |</b> @{{postNumber}} <br>
  <span style="white-space: pre-line; display: inline-block; word-break: break-word;">{{text}}</span>
</div>

</div>
