<div class="post-thread" id="{{postNumber}}p" style="display: flex; flex-wrap: nowrap;">
  <a href="javascript:;"><img src="/postimgs/{{image}}" onclick="toggleImage({{postNumber}})" id="{{postNumber}}" title="{{imageDisplayName}}" style="max-width: 300px; {{#if stickied}}border: 4px solid #28a745; box-shadow: 0px 0px 25px 0px rgba(40,167,70,1) !important;{{/if}}" class="mb-2"></a>
  <div class="ml-3">
    <span style="display: inline-block; word-break: break-word;">
      <b {{#if stickied}}style="color: #28a745;"{{/if}}>{{#if stickied}}<i class="fas fa-thumbtack"></i> MODERATOR {{else}} {{name}} {{/if}} {{#if isOwner}}(You){{/if}}</b> {{created}}
      <a href="#" class="thread-quote" {{#if stickied}} {{#if mod_access}} onclick="showReply({{postNumber}})" {{/if}} {{else}} onclick="showReply({{postNumber}})" {{/if}}>
      <u>No.{{postNumber}}</u>
      </a>
      <span>
        <a href="javascript:;" id="dropdown_{{postNumber}}" onclick="displayDropDown({{postNumber}})">
        <i id="dropdown_icon_{{postNumber}}" class="fa fa-angle-down"></i>
        </a>
        <div id="dropdown_options_{{postNumber}}" class="card post-options shadow-sm menu" style="z-index: 1000;">
          <i class="fas fa-bullhorn"></i> <a href="#" data-toggle="modal" data-target="#reportModalCenter" onclick="reportId({{postNumber}})">Report</a> <br>
          {{#if isOwner}}
          <i class="fas fa-trash" style="color:red;"></i> <a href="javascript:;" id="d_{{postNumber}}" style="color: red !important;" onclick="deleteConfirmation({{postNumber}})">Delete</a>
          <span id="dc_{{postNumber}}" style="display: none;">Delete?<br>
          <a href="javascript:;" onclick="document.getElementById('delete_{{postNumber}}_form').submit()" class="text-danger" style="color: red !important;">Yes</a>
          <a href="javascript:;" onclick="deleteConfirmation({{postNumber}})">No</a>
          </span>
          <form action="/deletePost" method="POST" id="delete_{{postNumber}}_form" name="delete_{{postNumber}}_form" style="display: none;">
            <textarea id="postNumber" name="postNumber" cols="20" rows="20" style="display:none;">{{postNumber}}</textarea>
          </form>
          {{/if}}

          {{#if mod_access}}
          <i class="fas fa-trash" style="color:#28a745;"></i> <a href="javascript:;" id="d_{{postNumber}}" style="color: #28a745 !important;" onclick="deleteConfirmation({{postNumber}})">MOD Delete</a>
          <span id="dc_{{postNumber}}" style="display: none;">Delete?<br>
          <a href="javascript:;" onclick="document.getElementById('delete_{{postNumber}}_form').submit()" class="text-danger" style="color: red !important;">Yes</a>
          <a href="javascript:;" onclick="deleteConfirmation({{postNumber}})">No</a>
          </span>
          <form action="/deletePost" method="POST" id="delete_{{postNumber}}_form" name="delete_{{postNumber}}_form" style="display: none;">
            <textarea id="postNumber" name="postNumber" cols="20" rows="20" style="display:none;">{{postNumber}}</textarea>
          </form>
          {{/if}}
        </div>
      </span>
      {{#each quotes}}
      <a href="#{{this}}p" onmouseover="highlightReply({{this}})" onmouseout="exitHighlight({{this}})"> @{{this}}</a>
      {{/each}}
    </span>
    <br>
    <span style="white-space: pre-line; display: inline-block; word-break: break-word;">{{text}}</span>
    {{#if mod_access}}

      {{#if stickied}}
      <form id="unsticky-form" name="unsticky-form" method="post" action="/unstickypost">
        <input type="hidden" id="stickyId" name="stickyId" value="{{postNumber}}">
        <button id="unsticky-post-btn" name="unsticky-post-btn" href="#" type="submit" class="btn btn-danger"><i class="fas fa-thumbtack"></i> Un-Sticky Post</b></button>
      </form>
      {{else}}
      <form id="sticky-form" name="sticky-form" method="post" action="/stickypost">
        <input type="hidden" id="stickyId" name="stickyId" value="{{postNumber}}">
        <button id="sticky-post-btn" name="sticky-post-btn" href="#" type="submit" class="btn btn-success"><i class="fas fa-thumbtack"></i> Sticky Post</b></button>
      </form>
      {{/if}}

    {{/if}}
  </div>
</div>
<hr>
