
{{#if getIndex.index_active}}
	{{board}} 
{{/if}}
<br>

<div class="post-general m-2">
   <div>
      <a href="/thread/{{postNumber}}"><img src="/postimgs/{{image}}" class="col post-zoom p-0 shadow rounded" id="{{postNumber}}"></a>
      <br>
      <small style="cursor: help;" title="(R)eplies / (I)mages | (#)Post No."><b>R: {{noOfPosts}} / I: {{noOfImages}} |</b> #{{postNumber}}</small>
      <br>
      <span class="post-subtitle">		
      {{text}}
      </span>
   </div>
</div>