<div class="post-thread">
	<a href="#"><img src="/postimgs/{{image}}"></a>

	<div class="ml-3">
		<span><b>{{name}}</b> {{created}} <!--No.15693733>>15693758 >>15693770 >>15693781 >>15693806 >>15693817--></span> 
		<br>
		<br>
		{{text}}
	</div>
</div>

<!--HBS INFO TO PUT-->
<!--
	{{noOfPosts}} - number of replies the post has
	{{noOfImages}} - number of images inside the post (excluding the main posts image)
	{{uniqueIps}} - number of replies with unique ips

	{{quotes}} - array of postNumbers referencing post (also applies to post-reply.hbs)
		literally just an array of integers
	
	{{imageDisplayName}} - the image's original filename given by the user. 
		different from {{image}}, that gets how it's represented in the backend
-->
