<div class="post-thread" id="{{postNumber}}p">
	<img src="/postimgs/{{image}}" onclick="toggleImage({{postNumber}})" id="{{postNumber}}" title="{{imageDisplayName}}" style="max-width: 300px;" class="mr-3 mb-2">
	<div>
		<span><b>{{name}}</b> {{created}}
			<a href="#" class="thread-quote" onclick="showReply({{postNumber}})">
				<u>No.{{postNumber}}</u>
			</a>
			|
			{{#each quotes}}
				<a href="#{{this}}p" onclick="highlightReply({{this}})" class="thread-quote">
				<u>>>{{this}}</u>
				</a>
			{{/each}}
		</span> <br>
		<span style="white-space: pre-line;">{{text}}</span>
	</div>
</div>

<hr>



<!--HBS INFO TO PUT-->
<!--
	{{noOfPosts}} - number of replies the post has
	{{noOfImages}} - number of images inside the post (excluding the main posts image)
	{{uniqueIps}} - number of replies with unique ips

	{{quotes}} - array of postNumbers referencing post (also applies to post-reply.hbs)
		literally just an array of integers
	
	{{imageDisplayName}} - the image's original filename given by the user. 
		different from {{image}}, that gets how it's represented in the backend
-->
