<!-- Moderator View -->

<script type="text/javascript" src="/js/uchan.datatables.js"></script>

<div class="row p-2 mt-2" style="margin: auto">

  <nav class="col-sm-1 card mod-nav shadow-sm">
    <div class="card-body">
      <h3><b>MODChan</b></h3> <hr>
      <div class="">
        <a href="#" class="select mod-items"> Boards </a> <br>
        <a href="#reports" class="select mod-items"> Reported Posts </a> <br>
        {{#if admin}}
        <a href="#moderator" class="select mod-items"> Moderators </a> <br>
        <a href="#banned" class="select mod-items"> Banned IPs </a> <br>
        {{/if}}
      </div>
    </div>
  </nav>

  <div class="col">

    <h2>Boards</h2>

    {{#each boards}}
      <a href="/{{this}}" class="select" style="font-size: 20pt;">
        {{this}}
      </a>
    {{/each}}

    <hr>
    <h2 id="reports">Reported Posts</h2>
    <table id="reportTable" class="display">
      <thead>
          <tr>
              <th>Post #ID</th>
              <th>Board</th>
              <th># Law</th>
              <th># Off-Topic</th>
              <th># Spam</th>
          </tr>
      </thead>
      <tbody>
        {{#each reportedPosts}}
          <tr>
              <td>{{postNumber}}</td>
              <td>{{board}}</td>
              <td>{{lawCounter}}</td>
              <td>{{offTopicCounter}}</td>
              <td>{{spamCounter}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <hr>
{{#if admin}}
    <h2 id="moderator">Manage Moderators (Admin)</h2>
    <table id="moderatorTable" class="display">
      <thead>
          <tr>
              <th>Username</th>
              <th>Board List</th>
          </tr>
      </thead>
      <tbody>
        {{#each moderators}}
            <tr>
                <td>{{name}}</td>
                <td>{{boards}}</td>
            </tr>
        {{/each}}

      </tbody>
    </table>
    <hr>

    <h2 id="keys">Unused Keys (Admin)</h2>
    <table id="keysTable" class="display">
      <thead>
          <tr>
              <th>Key</th>
              <th>Default Board</th>
          </tr>
      </thead>
      <tbody>
        {{#each unregisteredKeys}}
            <tr>
                <td>{{_id}}</td>
                <td>{{defaultBoard}}</td>
            </tr>
        {{/each}}

      </tbody>
    </table>
    <hr>

    <button type="button" class="btn btn-success w-100" data-toggle="modal" data-target="#moderatorKeyGen"><b>+</b> Generate Moderator Key <i class="fas fa-key"></i></button>

    <h2 id="banned">Banned IPs</h2>
    <table id="bannedTable" class="display">
      <thead>
          <tr>
              <th>IP #</th>
              <th>Reason</th>
              <th>Remarks</th>
          </tr>
      </thead>
      <tbody>
        {{#each bannedips}}
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
        {{/each}}
      </tbody>
    </table>
    <hr>

  </div>
{{/if}}
</div>

<div class="modal fade" id="reportDataModal" tabindex="-1" role="dialog" aria-labelledby="reportDataModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportDataModal-Title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0 m-0" style="line-height: normal !important;">
        <pre>

   <b>Post Number:</b>    <span id="reportDataModal-PostN"></span><br>
   <b>Board:</b>          <span id="reportDataModal-Board"></span><br>
   <b>Law Offenses:</b>   <span id="reportDataModal-Law"></span><br>
   <b>Off Offenses:</b>   <span id="reportDataModal-Off"></span><br>
   <b>Spam Offenses:</b>  <span id="reportDataModal-Spam"></span><br>
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Ignore</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#banReasonModal">Ban IP <i class="fas fa-key"></i></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="moderatorKeyGen" tabindex="-1" role="dialog" aria-labelledby="moderatorKeyGen" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moderatorKeyGenTitle">Generate a Moderator Key</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="generate-key-form" name="generate-key-form" method="post" action="/generatekey">
        <div class="modal-body">
          <div class="form-group">
            <label for="default-board">Default Board</label>
            <select class="form-control" id="default-board" name="default-board">
              {{#each activeBoards}}
                  <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Generated Key</label>
            <textarea readonly class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Generate Key <i class="fas fa-key"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Reason -->
<div class="modal fade" id="banReasonModal" tabindex="-1" role="dialog" aria-labelledby="moderatorKeyGen" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="banReasonTitle">Ban Reason</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="ban-report-form" name="ban-report-form" method="post" action="/banuser">
        <div class="modal-body">
          <div class="form-group">
            <label for="default-board">Post ID</label>
            <input type="text" class="form-control" id="banPostNumber" placeholder="Enter post number" readonly>
          </div>

          <div class="form-group">
            <label for="default-board">Ban Reason</label>
            <select class="form-control" id="ban-reason" name="ban-reason">
              <option value="LAW" >Breaking Philippine Law</option>
              <option value="SPAM">Spam Post</option>
              <option value="OFF-TOPIC" >Off-Topic Post</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Remarks</label>
            <textarea class="form-control" id="banremarks" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Ban IP<i class="fas fa-key"></i></button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Moderator Manage -->
<div class="modal fade" id="modManageModal" tabindex="-1" role="dialog" aria-labelledby="modManageModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modManageTitle">Manage Moderator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="mod-manage-form" name="mod-manage-form" method="post" action="/banuser">
        <div class="modal-body">

          <div class="form-group">
            <label for="default-board">Username</label>
            <input type="text" class="form-control" id="modManageUsername" placeholder="Enter post number" readonly>
          </div>

          <b>Manages: </b><i><span id="modManageModal-Boards"></span></i><br>
          <hr>

          <div class="form-group">
            <label for="default-board">Add Board</label>
            <select class="form-control" id="add-board" name="add-board">
              {{#each activeBoards}}
                  <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Add Board <i class="fas fa-key"></i></button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>

    </div>
  </div>
</div>
